*~*
*.orig
*closure
classpath
.settings
*stacktrace
.classpath
.project
.DS_Store
stacktrace.log
dtd/
prodDb.log
prodDb.properties
prodDb.script
devDB.*
*.log
Thumbs.db
index.html
newrelic.log
*/cobertura.ser
*/target-eclipse
*/target
*/target-eclipse
*/bin
*/.classpath
*/.settings
*.graphml
*.pdf
*.bak
*.zip*